body{
  
    background-image: linear-gradient(to right, #60A5FA, #374151);

}
.tech{
   
   
        font-size: 2rem;
        font-weight: bold;
        background: linear-gradient(45deg, rgb(104, 68, 68), rgb(29, 136, 29), rgb(32, 32, 219));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
   
      
}
.textsum{
    background: linear-gradient(45deg, black, rgb(16, 73, 16), rgb(177, 14, 14));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}